[submodule "third/pink"]
	path = third/pink
	url = git@github.com:baotiao/pink.git
[submodule "third/slash"]
	path = third/slash
	url = git@github.com:baotiao/slash.git
[submodule "third/leveldb"]
	path = third/leveldb
	url = git@github.com:google/leveldb.git
[submodule "third/glog"]
	path = third/glog
	url = git@github.com:Qihoo360/glog.git
